* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Bai Jamjuree";
  font-family: "Bai Jamjuree SemiBold";
  padding: 3px 1px 0px 0px;
}
.title {
  width: 1439px;
  height: 363px;
  background: #4c545c;
  mix-blend-mode: multiply;
}
header {
  padding-bottom: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.background-image {
  position: absolute;
  width: 100%;
  height: 363px;
}
.C-logo {
  margin-top: 128px;
  width: 125px;
  height: 125px;
}
header h2 {
  margin-top: 56px;
  width: 730px;
  color: #4c545c;
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -0.75px;
}
.clip-board-benefits {
  margin-top: 16px;
}
.clip-board-benefits span {
  display: inline-block;
  color: #9eabb2;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15px;
  max-width: 730px;

  text-align: center;
}
.download-ios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 56px;
  border-radius: 28px;
  background: #26bba4;
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5),
    0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
.download {
  margin-top: 48px;
  gap: 16px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.download-ios span {
  color: #fff;

  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.download-mac {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 56px;
  border-radius: 28px;
  background: #6174ff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1),
    0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
.download-mac span {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.middle-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  margin-top: 150px;
}
.description h2 {
  width: 730px;
  color: #4c545c;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
  text-align: center;
}
.description span {
  display: inline-block;
  max-width: 620px;
  color: #9eabb2;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.main-part .abilities h3 {
  width: 350px;
  color: #4c545c;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
}
.abilities span {
  display: inline-block;
  max-width: 300px;
  color: #9eabb2;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}
.main-part {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 260px;
}
.abilities {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-left: 110px;
}

.accessibility {
  gap: 19px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accessibility h2 {
  width: 730px;
  color: #4c545c;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
  text-align: center;
}
.accessibility span {
  display: inline-block;
  width: 600px;
  color: #9eabb2;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.devices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 111px;
}
.workflow {
  margin-top: 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.workflow h2 {
  width: 730px;
  color: #4c545c;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
}
.workflow span {
  max-width: 730px;
  color: #9eabb2;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.capabilities {
  display: flex;
  margin-top: 77px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.blacklists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.blacklists img {
  width: 44px;
  height: 40px;
}
.blacklists h3 {
  width: 350px;
  color: #4c545c;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
  margin-top: 24px;
}
.blacklists span {
  max-width: 300px;
  color: #9eabb2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}
.text-snippets {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.text-snippets h3 {
  margin-top: 28px;
  width: 350px;
  color: #4c545c;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
}
.text-snippets span {
  max-width: 320px;
  color: #9eabb2;
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}
.sneak-preview {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.sneak-preview h3 {
  margin-top: 28px;
  width: 350px;
  color: #4c545c;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.391px;
}
.sneak-preview span {
  max-width: 320px;
  color: #9eabb2;
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}
.online-platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  gap: 50px;
}
.ending-part {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.ending-part h2 {
  width: 730px;
  color: #4c545c;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
}
#availability {
  max-width: 650px;
  color: #9eabb2;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.downloads {
  display: flex;
  gap: 16px;
  margin-top: 29px;
}

.contact-info img {
  width: 55px;
  height: 55px;
  fill: #26bba4;
}

.contact-info {
  display: flex;
  margin-top: 150px;

  height: 150px;
  align-items: center;
  background: rgb(246, 245, 245);
  max-width: 100%;
  flex-wrap: wrap;
}
.first-half {
  display: flex;
  margin-left: 165px;
}
.upper-spans span {
  max-width: 160px;
  color: #4c545c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.down-spans span {
  max-width: 160px;
  color: #4c545c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
.faqs {
  width: 82px;
}

.upper-spans,
.down-spans {
  display: flex;
  gap: 30px;
}
.down-spans {
  margin-top: 12px;
}
.spans {
  margin-left: 135px;
}
.social-medias img {
  width: 120px;
  height: 24px;
}
.social-medias {
  margin-left: 500px;
}
